include CHANGES.md
include CONTRIBUTING.md
include LICENSE
include README.md
include tox.ini
include ipa-complete.sh
include package/python3-img-proof.spec
include requirements.txt
include requirements-test.txt
include requirements-dev.txt

recursive-include tests *
recursive-include usr *.py
recursive-include usr *.yaml
recursive-include man *.1
recursive-include docs *.md 
recursive-exclude * __pycache__
recursive-exclude * *.coverage
recursive-exclude * *.py[co]
recursive-exclude tests/data/results *

