boto3
msrest>=0.6.0
azure-identity
azure-mgmt-compute
azure-mgmt-network
azure-mgmt-resource
Click
paramiko
pytest
PyYAML
pytest-testinfra
oci
google-auth
google-api-python-client
aliyun-python-sdk-core
aliyun-python-sdk-ecs
pytest-json-report
