boto3
azure-common
# adal and msrestazure required by azure-common, remove when fixed upstream
adal
msrestazure
azure-mgmt-compute
azure-mgmt-network
azure-mgmt-resource
Click
paramiko
pytest
PyYAML
testinfra
oci
google-auth
google-api-python-client
