boto3
azure-common
# msrestazure required by azure-common, remove when fixed upstream
msrestazure
azure-mgmt-compute
azure-mgmt-network
azure-mgmt-resource
Click
paramiko
pytest
PyYAML
testinfra
oci
google-auth
google-api-python-client
aliyun-python-sdk-core
aliyun-python-sdk-ecs
